@font-face {
  font-family: 'icomoon';
  src:  url('../font-icons/icomoon.eot?ehrxxl');
  src:  url('../font-icons/icomoon.eot?ehrxxl#iefix') format('embedded-opentype'),
    url('../font-icons/icomoon.ttf?ehrxxl') format('truetype'),
    url('../font-icons/icomoon.woff?ehrxxl') format('woff'),
    url('../font-icons/icomoon.svg?ehrxxl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding: .5rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-folder_managed:before {
  content: "\e901";
}
.icon-fullscreen:before {
  content: "\e902";
}
.icon-fullscreen_exit:before {
  content: "\e903";
}
.icon-kb_return:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-mic:before {
  content: "\e906";
}
.icon-minimize:before {
  content: "\e907";
}
.icon-passthru:before {
  content: "\e908";
}
.icon-save:before {
  content: "\e909";
}
.icon-save_as:before {
  content: "\e90a";
}
.icon-screen_capture:before {
  content: "\e90b";
}
.icon-screen_record:before {
  content: "\e90c";
}
.icon-screen_rotation:before {
  content: "\e90d";
}
.icon-settings:before {
  content: "\e90e";
}
.icon-stop:before {
  content: "\e90f";
}
.icon-videocam:before {
  content: "\e910";
}
.icon-videocam_off:before {
  content: "\e911";
}
.icon-videocam2:before {
  content: "\e912";
}
.icon-volume_off:before {
  content: "\e913";
}
.icon-volume_up:before {
  content: "\e914";
}
