html {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 62.5%;
  overflow: hidden;
  overscroll-behavior: contain;
  width: 100%;
}

body {
  background-color: rgb(45, 45, 45);
  background-image: url('../img/videocam_off.svg');
  background-size: 50% 50%;
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  color: rgb(225, 225, 225);
  font-size: 1.5em;
  margin: 0;
  width: 100%;
}

video {
  display: inline;
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none;
}

.menu {
  -webkit-app-region: drag;
  position: absolute;
  font-size: 2.5rem;
  background-color: rgb(15, 15, 15, .85);
  padding-top: 5px;
  top: 0px;
  transition: top .3s ease-in-out;
  user-select: none;
  width: 100%;
  z-index: 10;
}

.hfx {
  border-radius: 1.6rem;
  transition: background-color .3s ease-in-out;
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.hfx:hover {
  background-color: rgb(45, 45, 45);
}

.txtLeft {
  text-align: left;
}
.txtRight {
  text-align: right;
}
.txtCenter {
  text-align: center;
}
.large {
  font-size: 3.75rem;
}
.margAuto {
  display: block;
  width: 100%;
  text-align: center;
}

#volSlider {
  cursor: pointer;
  vertical-align: top;
  margin-top: 1.1rem;
  margin-right: 1.2rem;
  transition: all .5s ease-in-out;
  opacity: 0;
  width: 0px;
  height: 4px;
}

#settings {
  /*background-color: rgb(45, 45, 45, .8);*/
  display: block;
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity .2s ease-in-out;
  pointer-events: none;
  position: absolute;
  overflow-y: auto;
  top: 47px;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.settingsWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-57.25%);
  width: 100%;
}

.inputWrapper {
  background-color: rgb(15, 15, 15, .9);
  border-radius: 2rem;
  padding: 4rem;
  height: 345px;
}

select {
  border: none;
  border-radius: 0px;
  background-color: rgb(45, 45, 45);
  color: rgb(225, 225, 225);
  font-family: 'Courier New', Courier, monospace;
  height: 30px;
  margin-bottom: .5rem;
  width: 100%;
}
select:focus {
  border: none;
  outline: 0;
}

label {
  display: inline;
  font-weight: 100;
  line-height: 2.5rem;
  margin-left: 1rem;
  width: auto;
}


/* width */
::-webkit-scrollbar {
  border-radius: 3px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  height: 50%;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}